* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }
}

header span, h1,h2,h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header span, header h1 {
    font-size: xx-large;
    margin: 0 auto;
    padding: 25px;
    margin: 0 auto;
}

footer p{
    padding: 5px;
    display: flex;
    justify-content: center;
}

footer {
        margin-top: 3.1rem ;

}

.my-name {
    padding: 0;
}

nav {
    display: flex;
    margin: 0 auto;
    padding: 5px;
    justify-content: space-evenly; /*will space out my links evenly. Can be used if display is flex*/
    background-color: rgb(94, 21, 21);
    gap: 20px;
}

main {
    width: 100%;
    display: grid; /*makes this section responsive to the size of screen the user is using*/
    place-items: center;
    grid-template-columns: 100%;
    margin: 0 auto;
    padding: 20px;
}

.card {
    padding: 5px;
    text-align: center;
    border: 2px solid black;
    border-radius: 1rem; /* this is to round out the corners of the border*/
}

header, footer {
    background-color: #f0cdcd;
    text-align: center;
}

nav a {
    color: white;
    padding: 1rem;
    flex: 1 1 100%; /*aligns my links evenly accross the page*/
    text-decoration: none; /*gets rid of the underlines under my links*/
}

nav a:hover {
    border-radius: 0.5rem; /* this is to round out the corners of the border*/
    border: 2px solid white;
}


h2 {
    display: grid;
    background-color: rgb(94, 21, 21);
    border-radius: 1rem; /* this is to round out the corners of the border*/
    color: white;
    padding: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: x-large;
}

main img {
    border-radius: 1rem; /* this is to round out the corners of the border*/
    width: 200px;
    height: auto;
    margin: 2rem;
    float: right;
}

h3 {
    display: flex;
    justify-content: center;
    font-size: x-large;
    text-decoration: underline;
}

.utah img{
    float: left;
    width: 200px;
    height: auto;
}

section p {
    padding: 1rem;
    font-size: medium;
}

ul {
    list-style-type: none;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
}

a {
    color: blue;
    text-decoration: none;
    
}

.card a:hover {
    color: rgb(255, 99, 71);
}

.container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
}
