* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: rgb(65, 224, 235);

}

main {
    background-color: white;
}

h1 {
	font-size: 2.5rem;
    padding: 1rem;
    text-align: center;
    font-family: "Bebas", sans-serif;
}

h2 {
    font-size: 2.5rem;
	text-align: center;
    margin-top: 2rem;
    font-family: "Exo 2", sans-serif;
}

h3 {
    font-family: "Exo 2", sans-serif;
}

p, h3 {
    text-align: center;
}

.label {
    font-weight: bold;
    font-style: italic;
}

header, footer, .main-nav {
    color: navy;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 1rem;
}

footer {
    padding: 1rem;

}

.navigation {
    width: 100%;
}

.main-nav {
	display: none;
    flex-direction: column;
    position: absolute;
    width: 100%;
    top: 60px;
    left: 0;
    list-style-type: none;
    padding: 0;
    border-radius: 8px;
}

.navigation.open {
    display: block;
    left: 0;
    background-color: rgb(65, 224, 235);
    z-index: 10;
}

.navigation.open .main-nav {
    display: flex;
}

.main-nav li a {
    text-decoration: none;
    color: navy;
    display: flex;
    justify-content: right;
    padding: 1rem;
}

nav ul {
    list-style-type: none;
}

nav a:hover {
    border-radius: 0.5rem;
    border: 2px solid white;
}

#menu {
    display: block;
	font-size: 1rem;
	border: none;
	background: none;
	color: navy;
	position: absolute;
	top: 1rem;
	right: 1rem;
    cursor: pointer;
}

#menu::before {
    margin: 0.25rem;
	content: "☰";
}

#menu.open::before {
	content: "❌";
}

.using::before { 
	content: "📍";
}

.temple-cards {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    place-items: center;
    gap: 2rem;
    padding: 2rem;

}

.temple-card {
    background-color: lightgray;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
}

img {
    width: 300px;
    height: auto;
    padding: .5rem;
    margin-bottom: .5rem;
}
