
@media (max-width: 37.5em) {
	h1 {
		font-size: 3rem;
		margin-left: 0;
		text-align: center;
	}

    h2 {
        font-size: 2rem;
        text-align: center;
        background: none;
        color: black;
        margin-left: 2rem;
    }

    .weather img {
        width: 3rem;
        height: auto;
        padding: 0;
        margin-left: 6rem;
        margin-top: 0;
    }

    .data, .weather {
    position: inherit;
    background: none;
    padding: 0;
    margin-left: 5rem;
    }

    .data h2, .weather h2 {
        text-align: center;
    }

    .weather h2 {
        margin-bottom: 0;
    }

    .data p, .weather p {
        text-align: left;
        margin-left: 1rem;
    }
}
