@media (max-width: 750px) {
    .weather-icon-container, .data, .weather {
        background-color: transparent;
        padding: 0;
        max-width: 100%;
    }

    h2 { /*don't touch this title! puts the icon under weather*/
        flex-direction: column;
    }
    .weather-icon::before {
        content: '';
        display: inline-block;
        }

    .weather h2::after {
    content: '';
    }

    .data h2, .weather-icon-container{
    width: auto;
}
    
	h1 {
		font-size: 3rem;
		margin-left: 0;
		text-align: center;
	}


    .data h2, .weather h2 {
        position: relative;
        text-align: center;
        font-size: 2rem;
        background: none;
        color: black;
    }

    .data, .weather { /*do  not touch this section!*/
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
    }

    .data p, .weather p {
        margin-left: 10rem;
    }
}
